
* {
	margin: 0;
	padding: 0;
	}

body {
	margin: 0px;
	padding: 0px;
}

.alignleft {
	float: left;
  font-weight: bold;
}
.alignright {
	float: right;
  font-weight: bold;
}

.select_option{
	position: relative;
	width:100%;
	padding: 15px;
	font-size:17px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background: #6d6d6d;
	font-style:bold;
	outline:none;
	margin-top:10px
}

.border_box{
	background-color:#ffe53d;
	width:100%;
	display: inline-block;
	position: absolute;
	margin:0px;
	padding:5px;
	color: #000;
}

h1 {
	font-size:25px;
	line-height:28px;
	font-weight:bold;
}

h2 {
	font-size:22px;
	line-height:28px;
	font-style: italic;
	display: inline;
}

h4 {
	font-size:12px;
	font-style: italic;
	display: inline;
}


p{
	line-height: 18px;
	font-size: 14px;
}

.description{
	display:none;
}

.gradient{
	margin-top:10px;
}


@media screen and ( min-width: 500px ) {

	.border_box{
		background-color:#ffe53d;
		width:380px;
		display: inline-block;
		position: absolute;
		margin:20px;
		padding:15px;
		color: #000;

	}

	.description{
		margin-top: 20px;
		display: block;
	}

	.select_option{
		margin-top:15px
	}

	.gradient{
		margin-top:15px;
	}

}
